$color-bg: #E5E5E5;
$color-white: #FFFFFF;
$color-primary: #17696A;
$color-success: #03CEA4;
$color-danger: #FF4242;
$color-warning: #F89828;
$color-info: #5A87FC;
$color-divider-gradient: linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
$color-gray-900: #1E212C;
$color-gray-800: #424551;
$color-gray-700: #787A80;
$color-gray-600: #9A9CA5;
$color-gray-500: #B3B7BC;
$color-gray-400: #D7DADD;
$color-gray-300: #E5E8ED;
$color-gray-200: #F4F5F6;
$color-gray-100: #F9F9F9;

$width-desktop: 1920px;
$width-desktop-content: 1230px;
$width-tablet-max: 1024px;
$width-tablet-medium: 768px;
$width-tablet-min: 640px;
$width-mobile-max: 425px;
$width-mobile-medium: 375px;
$width-mobile-min: 320px;
