@use '../../assets/scss/variables' as *;

.gridContainer {
  display: grid;
  column-gap: 15px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    '. .'
    '. .'
    'Address Address';
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: $color-gray-800;
  display: flex;
  flex-direction: column;
}
.input {
  background: $color-white;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 9px 12px;
  width: 100%;
  font-size: 1.2rem;
  color: $color-gray-800;
}

.labelFull {
  grid-area: Address;
}

.formSubmit {
  margin-top: 30px;
  width: 100%;
}

.cardInput {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.error {
  color: $color-danger;
}
.creditCard {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat (2 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 15px;
  grid-template-areas:
    'cardIcons cardIcons'
    'cardNumbers cardNumbers'
    '. .';
}
.flexContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-area: cardIcons;
}

.cardNumbers {
  grid-area: cardNumbers;
}
