@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.details[open] > .summary {
  color: #333;
}
.details > .summary {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  position: relative;
  color: #333;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 160%;
  color: $color-gray-900;

  border-bottom: 1px #ccc solid;
  cursor: pointer;
  list-style: none;
}

.summary::after {
  content: '+';
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  color: $color-primary;
}

.details[open] .summary::after {
  content: '—';
}
