@use '../../assets/scss/variables' as *;

.h1,
.h2,
.h3,
.h4 {
  line-height: 130%;
  color: $color-gray-900;
}

.h1 {
  font-weight: 900;
  margin: 4.6rem 0;
  font-size: 4.6rem;
}

.h2 {
  margin: 2.4rem 0;
  font-weight: 700;
  font-size: 2.4rem;
}

.h3 {
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem 0;
}

.h4 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  margin: 1.4rem 0;
}
